<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<mat-toolbar>

  <mat-toolbar-row>

    <span><img src="assets/img/logo.png" alt="" width="30px"> E-testing system</span>
    <span class="example-spacer"></span>
    <button mat-fab color="" aria-label="Example icon button with a delete icon">
    <mat-icon>login</mat-icon>
    </button>

   </mat-toolbar-row>
</mat-toolbar>

