<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<main>


  <div class="container ontopmenu">
    <div class="row" style="padding-bottom: 3%;">
      <div class="col-md-6" style="text-align: right; padding-bottom: 3%;">
        <a routerLink="/course" routerLinkActive="active" class="myRegButton">
          <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
            important_devices
          </span>
          <p> ลงทะเบียนสอบ <br> E-testing </p>
        </a> &nbsp;
        <a routerLink="/qrpagelist" routerLinkActive="active" class="myYellowButton">
          <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
            qr_code
          </span>
          <p>
            พิมพ์ QR Code <br> ชำระเงิน
          </p>
        </a>
      </div>
      <div class="col-md-6">
        <a routerLink="/regisall" routerLinkActive="active" class="myGreenButton">
          <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
            article
          </span>
          <p>
            ข้อมูลลงทะเบียน <br>&nbsp;
          </p>
        </a> &nbsp;
        <a routerLink="/recieptall" routerLinkActive="active" class="myPinkButton">
          <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
            local_printshop
          </span>
          <p>
            ใบเสร็จ <br>&nbsp;
          </p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="text-align: right;  padding-bottom: 3%;">
        <a routerLink="/policy" routerLinkActive="active" class="myBrownButton">
          <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
            policy
          </span>
          <p> ข้อตกลงการใช้งาน </p>
        </a> &nbsp;
        <a routerLink="/info" routerLinkActive="active" class="mySkyblueButton">
          <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
            info
          </span>
          <p> ประชาสัมพันธ์ </p>
        </a>
      </div>
      <div class="col-md-6">
         &nbsp;
      </div>
    </div>

  </div>
</main>
