<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<main>


  <div class="container ontopmenu">
         <div class="row">
           <div class="col-md-6" style="text-align: right; padding-bottom: 3%;">
            <a href="#" class="myRegButton">
              <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
                important_devices
              </span>
              <p> ลงทะเบียนสอบ </p>
            </a> &nbsp;
            <a href="#" class="myYellowButton">
              <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
                assignment
              </span>
              <p>
                การลงทะเบียนสอบ
              </p>
            </a>
          </div>
            <div class="col-md-6">
              <a href="#" class="myGreenButton">
                <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
                  important_devices
                </span>
                <p>
                  ลงทะเบียน
                </p>
              </a> &nbsp;
              <a href="#" class="myPinkButton">
                <span class="material-icons" style="margin-top: 15%; margin-bottom: 10%;">
                  grading
                </span>
                <p>
                  ใบเสร็จ
                </p>
              </a>
            </div>
         </div>


  </div>
</main>
