<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        ---
        <p>
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">
                <h2>แสดงวิชาทั้งหมดที่ลงทะเบียนปีการศึกษา</h2>
              </th>
            </tr>
            <tr>
              <th scope="col">
              <b> ลำดับ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; วิชา &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; หน่วยกิต </b>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dt of coursetest , let i = index">
              <td>
                <b>
                  <mat-checkbox color="primary" (change)="toggleVisibility(dt.courseno)" ></mat-checkbox>
                  # {{dt.courseno}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{dt.coursename}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ({{dt.credit}})
                </b>
                <b></b>

                <div *ngIf="dt.status">
                  <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="dateselect">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="">
                    <mat-label>เลือกคาบสอบ</mat-label>
                    <mat-select [disabled]="sectionselect">
                      <mat-option *ngFor="let secf of sectionfix" value="{{secf.sect}}"> {{secf.sect}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">ระบุคาบสอบ ^</mat-hint>
                  </mat-form-field>
                </p>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
        <mat-divider></mat-divider>
        <section>
          <div class="example-label">Raised</div>
          <div class="example-button-row" style="text-align: center;">
            <button mat-raised-button color="primary" [disabled]="selectCourseCmplt">
              <span class="material-icons">
              check_circle_outline
              </span> ยืนยัน</button>&nbsp;
            <button mat-raised-button color="warn">
              <span class="material-icons">
              cached
              </span> ยกเลิก</button>
              <a routerLink="/confirm" routerLinkActive="active"> Component</a>

          </div>
        </section>
        <p>
          <hr>
      </div>
    </div>
  </div>


</div>
<app-footer></app-footer>
