<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="content" role="main">
  <div class="container">

    <div class="row">
      <div class="col-12">
        ---
        <p>
          <hr>
      </div>
    </div>
    <app-profilecomponent></app-profilecomponent>

    <form>

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <h2>แสดงวิชาทั้งหมดที่ลงทะเบียนปีการศึกษา</h2>
                </th>
              </tr>
              <tr>
                <th scope="col">
                  <b> ลำดับ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; วิชา
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    หน่วยกิต </b>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dt of todoCourse , let i = index">
                <td>
                  <b>
                    <input type="checkbox" color="primary" (change)="toggleVisibility(dt.courseno)">
                    # {{i+1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{dt.courseno}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ({{dt.credit}}) {{dt.x}}
                  </b>
                  <b></b>

                  <div *ngIf="dt.status">
                    <p>
                      <!-- <mat-form-field class="example-full-width"> -->
                      <!--mat-label>Choose a date</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" [min]="startDate" [max]="endtDate" [id]="dt.courseno" [matDatepicker]="picker" [(ngModel)]="search_do.custNo" [ngModelOptions]="{standalone: true}">
                     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ngDefaultControl [(ngModel)]="search_do.custNo" [ngModelOptions]="{standalone: true}" (selectedChanged)="onDateTest($event)"></mat-datepicker>
                  </mat-form-field-->
                      <!-- <input type="date" [(ngModel)]="selectedDay[i]" color="primary" (change)="addData(dt,i)"  [ngModelOptions]="{standalone: true}">

               </mat-form-field> -->
                      <mat-form-field class="example-full-width">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [(ngModel)]="selectedDay[i]" [ngModelOptions]="{standalone: true}"
                          [matDatepicker]="picker" [matDatepickerFilter]="myFilter" [min]="startDate" [max]="endtDate"
                          (dateChange)="addEvent( $event, i,dt.courseno)" (datechange)="changeEvent(dt.courseno,i)" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker ngDefaultControl></mat-datepicker>
                      </mat-form-field> &nbsp;&nbsp;

                      <label *ngIf="dt.secstatus" for="{{dt.courseno}}">select section</label>&nbsp;
                      <select *ngIf="dt.secstatus" [(ngModel)]="selectedSection[i]" [id]="dt.courseno"
                        (change)="changeDropdown(dt.courseno,i)" [ngModelOptions]="{standalone: true}">

                        <!--<option *ngFor="let item of todoSection[0].data"  [value]="item">{{item}}</option> -->
                        <ng-container *ngFor="let item of todoSection">
                        <ng-container  *ngIf="item.courseno === dt.courseno">
                          <option *ngFor="let data of item.section" [value]="data">section {{data}}</option>
                        </ng-container>
                        </ng-container>
                      </select>

                      <!--mat-form-field *ngIf="dt.secstatus">
                        <mat-label>select section</mat-label>
                        <mat-select  *ngIf="dt.secstatus" [(ngModel)]="selectedSection[i]"
                        (change)="changeDropdown(dt.courseno,i)" [ngModelOptions]="{standalone: true}">
                          <mat-option *ngFor="let item of sectionfix" [value]="item.sect">
                            {{item.sect}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field-->

                    <p></p>

                  </div>

                </td>
              </tr>
            </tbody>
          </table>
          <mat-divider></mat-divider>
          <section>
            <div class="example-label">Raised</div>
            <div class="example-button-row" style="text-align: center;">
              <button mat-raised-button color="primary" [disabled]="isEnable" routerLink="/confirm"
                routerLinkActive="active">
                <span class="material-icons">
                  check_circle_outline
                </span> ยืนยัน</button>&nbsp;
              <button routerLink="/" routerLinkActive="active" mat-raised-button color="warn">
                <span class="material-icons">
                  cached
                </span> ยกเลิก</button>

            </div>
          </section>
          <p>
            <hr>
        </div>
      </div>
    </form>

    <div *ngIf="showSpinner" class="spinner"></div>
    <div *ngIf="showSpinner" class="txtspinner">loading...</div>
  </div>
  <pre>{{todoSection | json}}</pre>
  <p></p>
  <pre>{{todoCourse | json}}</pre>
  <p></p>
  <pre>{{todoSelectCourse | json}}</pre>
</div>
<app-footer></app-footer>
