mat-card {
  margin-top: 2rem;
}

.mat-column-select {
  overflow: initial;
}

table {
  width: 100%;
}

mat-expansion-panel[aria-disable=true] {
  color: rgba(0, 0, 0, alpha);
}

.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}

.dateAleart-class {
  background: red;
  border-radius: 100%;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #faedd2;
}

.spinner{
  border: 16px solid silver;
  border-top: 16px solid #3c6382;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
  top: 30%;
  left: 50%;
position: absolute;
z-index: 99 !important;
}

@keyframes spin{
   0% {transform: rotate(0deg)}
   100% {transform: rotate(-360deg)}
}

.txtspinner{
  top: 45%;
  left: 53%;
position: absolute;;
}


