main {
  padding-top: 40px;
  width: 95%;
  margin: auto;

}

.tabmaintable {
  width: 95%;
  padding-top: 10px;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);

}

.texrheader {
  padding: 4px 0 4px 0;
  color: black;
  font-weight: bold;

}

.container{
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #f8edd4;
}
a{
  color: #341f97;
}

.buttomdiv{
  margin-bottom: 15px;
}
