<div class="row" style="margin-bottom: 15px;">
  <div class="col-md-3">
    <span class="material-icons">
    perm_contact_calendar
    </span> รหัสนักศึกษา: ทดสอบ
    <p>
      <span class="material-icons">
        text_format
        </span>
        ชื่อ - สกุล: ทดสอบ
    </p>

  </div>
  <div class="col-md-3">
    <span class="material-icons">
      cast_for_education
    </span>
    คณะ: ทดสอบ<p>
      <span class="material-icons">
        cast_for_education
        </span>
        สาขา: ทดสอบ
    </p>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
</div><hr>
