
<div class="row" style="margin-bottom: 15px;">
  <div class="col-md-5">
    <span class="material-icons">
      perm_contact_calendar
    </span> รหัสนักศึกษา: {{us}}
    <p style="padding-top: 1%;">
      <span class="material-icons">
        text_format
      </span>
      ชื่อ - สกุล: {{namethai}}
    </p>

  </div>
  <div class="col-md-7">
    <span class="material-icons">
      history_edu
    </span>
    คณะ: {{facname}}
    <p style="padding-top: 1%;">
      <span class="material-icons">
        cast_for_education
      </span>
      สาขา: {{majorname}}
    </p>
  </div>
</div>
 